{% load staticfiles %}

<!DOCTYPE html>

  <head>
    <title>Hello Man!</title>
  </head>

  <body>

    <div>
      <h1> {{ hello_message }} </h1>
    </div>

    <!-- Reference: https://developers.google.com/youtube/iframe_api_reference#Getting_Started -->

        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->


    <div id="content"> 

      <div id="player"></div>

      <div id="playlist" style="float:bottom">
      <ul>
        {% for vid in video_list %}
            <li>{{vid}}</li>
        {% endfor %}
      </ul>
    </div>

    </div>

    


    <script src="{% static 'jukebox/js/VPlayer.js' %}">
    </script>


    <script>

      var playlist = [
      {% for vid in video_list %}
        {% if not forloop.last %}
            "{{vid}}",
        {% else %}
            "{{vid}}"
        {% endif %}
      {% endfor %}
      ];

      var playIdx = 0;

      console.log(playlist);




      var doCallback = function(youtube_player){

        console.log("lol it worked");

        //playVideo(youtube_player,"http://www.youtube.com/v/L9iY6yPrSzY");

        playVideo(youtube_player,playlist[playIdx]);

      };


      var onPlayerStateChange = function(youtube_player, event){

         if (event.data == YT.PlayerState.PLAYING && !done) {
            //setTimeout(stopVideo, 6000);
            //console.log("LOL what?")
            //done = true;
          }
          if( event.data == YT.PlayerState.ENDED ){
            playIdx = (playIdx+1)%playlist.length;
            playVideo(youtube_player,playlist[playIdx]);
            //setTimeout( function() { changeVideoId("50690pyEd9I"); }, 6000);
          }

      }

      initPlayer(doCallback, onPlayerStateChange)

    </script>


  </body>


</html>


<!DOCTYPE html>
<html>
  <body>

  </body>
</html>
<!--L9iY6yPrSzY
50690pyEd9I-->
