{% load staticfiles %}

<!DOCTYPE html>

  <head>
    <title>Hello Man!</title>
  </head>

  <body>

    <div>
      <h1> {{ hello_message }} </h1>
    </div>

    <!-- Reference: https://developers.google.com/youtube/iframe_api_reference#Getting_Started -->

        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->


    <div id="content"> 

      <div id="player"></div>

      <div id="playlist" style="float:bottom">
      <ul>
        {% for vid in video_list %}
            <li>{{vid}}</li>
        {% endfor %}
      </ul>


      <button onclick="updatePlaylist()"> Add song </button>
      <input id="add_song" type="text" name="firstname"><br>
    </div>




    </div>

<!--     <div style="display:none">
        <input type="hidden" name="csrfmiddlewaretoken" value="$csrf_token"/>
    </div> -->

    <script>
      // /href="http://localhost:8000/jukebox/update_playlist" 
      function updatePlaylist(){
        textfield = document.getElementById("add_song")
        xhr = new XMLHttpRequest();
        var url = "http://localhost:8000/jukebox/update_playlist";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.onreadystatechange = function () { 
            if (xhr.readyState == 4 && xhr.status == 200) {
                var json = JSON.parse(xhr.responseText);
                console.log(json.email + ", " + json.password)
            }
        }
        var data = JSON.stringify({"link": textfield.value});
        xhr.send(data);

        textfield.value="";
      }


    </script>


    <script src="{% static 'jukebox/js/VPlayer.js' %}">
    </script>


    <script>

      var playlist = [
      {% for vid in video_list %}
        {% if not forloop.last %}
            "{{vid}}",
        {% else %}
            "{{vid}}"
        {% endif %}
      {% endfor %}
      ];

      var playIdx = 0;

      console.log(playlist);




      var doCallback = function(youtube_player){

        console.log("lol it worked");

        //playVideo(youtube_player,"http://www.youtube.com/v/L9iY6yPrSzY");

        playVideo(youtube_player,playlist[playIdx]);

      };


      var onPlayerStateChange = function(youtube_player, event){

         if (event.data == YT.PlayerState.PLAYING && !done) {
            //setTimeout(stopVideo, 6000);
            //console.log("LOL what?")
            //done = true;
          }
          if( event.data == YT.PlayerState.ENDED ){
            playIdx = (playIdx+1)%playlist.length;
            playVideo(youtube_player,playlist[playIdx]);
            //setTimeout( function() { changeVideoId("50690pyEd9I"); }, 6000);
          }

      }

      initPlayer(doCallback, onPlayerStateChange)

    </script>


  </body>


</html>


<!DOCTYPE html>
<html>
  <body>

  </body>
</html>
<!--L9iY6yPrSzY
50690pyEd9I-->
